$font: Verdana;
$size: large;

section{
    background-color: rgb(173, 255, 173);
    p{
        font-family: $font;
        font-size: $size;
        &:hover{
            color: blue;
        }
    }
}